@media screen and (max-width:1600px) {
    @for $i from 1 through 1000 {
      .w-res-medium-#{$i} {
        width: 1% * $i!important;
      } 
      .prl-res-medium-#{$i} {
        padding-left: 1px * $i;
        padding-right:1px * $i;
      }
      .mrl--tab-#{$i} {
        margin-left:  -1px * $i!important;
        margin-right: -1px * $i!important;
      }
    }
  
  }
  @media screen and (max-width:1100px) {
    @for $i from 1 through 1000 {
      .flex-res-tab-#{$i} {
        flex: 0 0 1% * $i !important;
        max-width: 1% * $i !important;
      }
      .mrl--res-#{$i} {
        margin-left:  -1px * $i!important;
        margin-right: -1px * $i!important;
      }
      .ml-res-tab-#{$i} {
        margin-left:  1px * $i!important;
      }
      .w-res-tab-#{$i} {
        width: 1% * $i!important;
      } 
      .prl-res-tab-#{$i} {
        padding-left: 1px * $i;
        padding-right:1px * $i;
      }
      .left-res-tab-#{$i} {
         left: 1px * $i!important; 
      }
      .pr-res-tab-#{$i}{
        padding-right: 1px * $i !important;
      }
      .pl-res-tab-#{$i}{
        padding-left: 1px * $i !important;
      }
    }
    .pl-res-tab-none{
      padding-left: 0px!important;
    }
    .text-res-center{
      text-align: center;
    }
    .w-res-tab-auto{
      width: auto!important;
    }
    .d-res-tab-flex{
      display: flex!important;
    }
  }
  @media screen and (max-width:920px) {
  @for $i from 1 through 1000 {
    .flex-res-#{$i} {
      flex: 0 0 1% * $i !important;
      max-width: 1% * $i !important;
    }
      .w-res-#{$i} {
        width: 1% * $i!important;
      } 
      .h-res-#{$i} {
          height: 1% * $i;
      }
      .w-res-px-#{$i} {
          width: 1px * $i;
        } 
        .h-res-px-#{$i} {
            height: 1px * $i;
        }
        .prl-res-#{$i} {
          padding-left: 1px * $i;
          padding-right:1px * $i;
        }
      }
      .flex-res-none{
          display: inherit;
      }
      .d-res-inline-block{
          display: inline-block;
    }
    
    @for $i from 1 through 200 {
      .mt-res-#{$i} {
        margin-top: 1px * $i;
      }
      .mb-res-#{$i} {
        margin-bottom: 1px * $i!important;
      }
      .ml-res-#{$i} {
        margin-left: 1px * $i;
      }
      .ml-res--#{$i} {
        margin-left: -1px * $i;
      }
      .mr--res-#{$i} {
        margin-right: 1px * $i;
      }
      .mar-res-#{$i} {
        margin: 1px * $i;
      }
      .pt-res-#{$i} {
        padding-top: 1px * $i;
      }
      .pb-res-#{$i} {
        padding-bottom: 1px * $i;
      }
      .pl-res-#{$i} {
        padding-left: 1px * $i;
      }
      .pr-res-#{$i} {
        padding-right: 1px * $i;
      } 
      .pad-res-#{$i} {
        padding: 1px * $i!important;
      } 
      .ln-res-#{$i} {
        line-height: 1 * $i;
      }
    }
  
  }
  @media screen and (max-width:780px) {
    @for $i from 1 through 1000 {
    .flex-res-m-#{$i} {
      flex: 0 0 1% * $i !important;
      max-width: 1% * $i !important;
    }
    .font-res-#{$i} {
      font-size: 1px * $i!important;
    }
    .w-res-m-#{$i} {
      width: 1% * $i!important;
    }
    .max-w-px-res-m-#{$i} {
      width: 1px * $i!important;
    }
    .max-w-res-m-#{$i} {
      max-width: 1% * $i!important;
    }
    .h-px-res-m-#{$i} {
      height: 1px * $i!important;
    }
    .w-px-res-m-#{$i} {
      width: 1px * $i!important;
    }
    .h-res-m-#{$i} {
      height: 1% * $i!important;
    }
    
    
    .mt-res-m-#{$i} {
      margin-top: 1px * $i!important;
    }
    .mb-res-m-#{$i} {
      margin-bottom: 1px * $i!important;
    }
    .mr-res-m-#{$i} {
      margin-right: 1px * $i;
    }
    .ml-res-m-#{$i} {
      margin-left: 1px * $i;
    }
    .pr-res-m-#{$i} {
      padding-right: 1px * $i;
    }
    .pl-res-m-#{$i} {
      padding-left: 1px * $i;
    }
    
    .mt--res-m-#{$i} {
      margin-top: -1px * $i;
    }
    .prl-res-m-#{$i}{
      padding-left: 1px * $i!important;
      padding-right: 1px * $i!important;
    }
    .pt-res-m-#{$i}{
      padding-top: 1px * $i!important;
    }
    .pb-res-m-#{$i}{
      padding-bottom: 1px * $i!important;
    }
    .pad-res-m-#{$i}{
      padding: 1px * $i!important;
    }
    .ml-res-m-#{$i} {
      margin-left: 1px * $i;
    }
  }
  .d-res-block{
    display: block;
  }
  .float-left-res{
    float: left;
  }
  .flex-wrap-res{
    flex-wrap: wrap;
  }
  .pl-res-m-0{
    padding-left: 0px!important;
  }
  .pr-res-m-0{
    padding-right: 0px!important;
  }
  .qty-product-res{
    position: relative;
    text-align: right;
    ._title{
      position: absolute;
      top: -12px;
      left: 35%;
  
    }
  }
  .no-mrl{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .text-center-res{
    text-align: center;
  }
  .ml-res-m-0 {
    margin-left: 0px!important;
  }
  }