$primary  : #07BCBC;
$primary-grad  :  transparent linear-gradient(113deg, #0798BC 0%, #07BCBC 100%) 0% 0% no-repeat  ;
$primary-light:#0798BC0D;
$secondary:#3A5E67;
$grey-dark:#93AAB1;
$primary-dark:#0798BC;
$white:#ffffff;
$grey-primary:#EEEEEE;
$primary-op:#f1f3f2;
$dark:#000000;
$dark-medium:#697C81;
$brown:#CD7F32;
$grey:#8B8B8B;
$warning-grad:transparent linear-gradient(103deg, #FCAF17 0%, #FC9B17 100%) 0% 0% no-repeat ;
$warning:#FCAF17;
$warning-light:#ffeecc;
$grey-flex:#ececec;
$grey-light:  #DDDDDD;
$danger  : #BC0707;
$success  : #47B23E;
$button-states: (
    primary  : #07BCBC, 
    primary-op:#f1f3f2,
    warning-grad:transparent linear-gradient(103deg, #FCAF17 0%, #FC9B17 100%) 0% 0% no-repeat  ,
    primary-dark:#0798BC,
    primary-light: rgba(255, 107, 0, 0.10196078431372549),
    primary-thin : rgb(242, 251, 242),
    secondary:rgb(58, 94, 103),
    warning:#FCAF17,
    dark-medium:#697C81,
    primary-grad  :  transparent linear-gradient(113deg, #0798BC 0%, #07BCBC 100%) 0% 0% no-repeat  ,
    danger  : #BC0707,
    grey-flex:#ececec,
    brown:#CD7F32,
    blue-disable:hsla(194, 16%, 64%, 0.251),
    danger-lighter  : rgba(209, 0, 0, .1),
    success: rgba(88, 156, 0, 1),
    success-light:rgba(88, 156, 0, .1),
    green-horse:rgba(176,158,36, 1),
    green-horse-light:rgba(176,158,36, .1),
    blue:rgba(12, 160, 222, 1),
    blue-light:rgba(12, 160, 222, .1),
    purple:rgba(136, 95, 183, 1),
    purple-light:rgba(136, 95, 183, .1), 
    dark:#999999,
    white:#ffffff, 
    grey: #697C81,
    grey-dark:#93AAB1,
    grey-primary:#EEEEEE,
    grey-light:  #DDDDDD,
    grey-thin:#F2F2F2,
   
  );
 
  
  .grid-flex{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    .pad-last-end{
      padding-right: 30px;

    } 
  }
  .d-flex{
    display: flex;
    
  }
  .object-contain{
    object-fit: contain;
  }
  .d-inherit{
    display: inherit!important;
  }
  @for $i from 1 through 1000 {
    .max-w-px-#{$i} {
      max-width: calc(1px * $i)!important;
    }
    .min-w-px-#{$i} {
      min-width: calc(1px * $i)!important;
    }
    
    .font-#{$i} {
        font-size: calc(1px * $i)!important;
      }
    .border-solid-#{$i} {
      border: calc(1px * $i) solid  ;
    }
    
    .opacity-#{$i} {
      opacity: calc(10 * $i / 100)    !important;
    }
    .border-bot-#{$i} {
      border-bottom: calc(1px * $i) solid  ;
    }
    .border-left-#{$i} {
      border-left: calc(1px * $i) solid  ;
    }
    .border-right-#{$i} {
      border-right: calc(1px * $i) solid  ;
    }
    .border-top-#{$i} {
      border-top: calc(1px * $i) solid  ;
    }
    .flex-#{$i} {
      flex: 0 0 calc(1% * $i) ;
      max-width: calc(1% * $i) ;
    }
    .radius-#{$i} {
      border-radius: calc(1px * $i)!important;
    }
    .top-left-radius-#{$i} {
      border-top-left-radius: calc(1px * $i);
    }
    .bottom-left-radius-#{$i} {
      border-bottom-left-radius: calc(1px * $i);
    }
    .top-right-radius-#{$i} {
      border-top-right-radius: calc(1px * $i);
    }
    .bottom-right-radius-#{$i} {
      border-bottom-right-radius: calc(1px * $i);
    }
   
    .font-weight-#{$i} {
      font-weight: 100 * $i;
    }
  
    .mt-#{$i} {
      margin-top: calc(1px * $i)!important;
    }
    .mb-#{$i} {
      margin-bottom: calc(1px * $i)!important;
    }
    .ml-#{$i} {
      margin-left: calc(1px * $i);
    }
    .left-#{$i} {
      left: calc(1px * $i)!important;
    }
    .leftp-#{$i} {
      left: 1% * $i!important;
    }
    .ml--#{$i} {
      margin-left: -calc(1px * $i);
    }
    .mr--#{$i} {
      margin-right: -calc(1px * $i);
    }
    .mt--#{$i} {
      margin-top: -calc(1px * $i);
    }
    .mb--#{$i} {
      margin-bottom: -calc(1px * $i);
    }
    .mr-#{$i} {
      margin-right: calc(1px * $i);
    } 
    .prl-#{$i} {
      padding-left: calc(1px * $i)!important;
      padding-right:calc(1px * $i)!important;
    }
    .mrl--#{$i} {
      margin-left:  -calc(1px * $i)!important;
      margin-right: -calc(1px * $i)!important;
    }
    .ptb-#{$i} {
      padding-top: calc(1px * $i)!important;
      padding-bottom:calc(1px * $i)!important;
    }
    .mar-#{$i} {
      margin: calc(1px * $i);
    }
    .pt-#{$i} {
      padding-top: calc(1px * $i)!important;
    }
    .pb-#{$i} {
      padding-bottom: calc(1px * $i)!important;
    }
    .pl-#{$i} {
      padding-left: calc(1px * $i)!important;
    }
    .pl-#{$i}p {
      padding-left: 1%* $i!important;
    }
    .pr-#{$i} {
      padding-right: calc(1px * $i);
    } 
    .pad-#{$i} {
      padding: calc(1px * $i);
    } 
    .ln-#{$i} {
      line-height: calc(1 * $i) ;
    }
    .ln-1-#{$i} {
      line-height: calc(110 * $i / 100 + 1) ;
    }
    .ln-px-#{$i} {
      line-height: calc(1px * $i)  ;
    }
    .ls-px--#{$i} {
     letter-spacing: calc(1px * $i)  ;
    }

    .w-#{$i} {
      width: calc(1% * $i)!important;
    } 
    .h-#{$i} {
        height: calc(1% * $i);
    }
    .w-px-#{$i} {
        width: calc(1px * $i)!important;
      } 
      .h-px-#{$i} {
          height: calc(1px * $i)!important;
      }
      .top-#{$i} {
        top: calc(1px * $i)!important;
    }
    .top-percent-#{$i} {
      top: calc(1% * $i)!important;
  }
    .top--#{$i} {
      top: calc(1px * $i)!important;
  }
    .bottom-#{$i} {
      bottom: calc(1px * $i)!important;
  }
  .right-#{$i} {
    right: calc(1px * $i)!important;
}
.right--#{$i} {
  right: calc(1px * $i)!important;
}
.left-#{$i} {
  left: calc(1px * $i)!important;
}

  }
  .shadow-bold{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  }
  .margin-auto{
    margin: auto!important;
  }
    .no-right{
      right: 0;
    }
  .d-inline-block {
    display: inline-block;
  }

  .scroll-x-auto {
    overflow-x: auto;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .flex{
      display:flex;
  }
  .d-inline-flex{
    display:inline-flex;
  }
  .aperance-none{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .float-left{
      float: left;
  }
  .float-right{
      float: right;
  }
 .justify-end{
   justify-content: flex-end;
 }
 .text-left{
   text-align: left!important;
 }
 .text-right{
  text-align: right!important;
}
 .text-center{
  text-align: center!important;
}
 .justify-center{
  justify-content: center;
}
  .w-auto{
    width: auto!important;
  }
  .pos-relative{
    position: relative!important;
  }
  .pos-absolute{
    position: absolute;
  }
.pb-0{
  padding-bottom: 0px!important;
}
.box {
  box-sizing: border-box;
}
.d-block{
  display: block!important;
}
.d-inline-block{
  display: inline-block!important;
}
.shadow-thin{
  box-shadow: 0px 10px 20px #0000000D;
}
