@font-face
{
  font-family: "IcoFont";
font-weight: normal;
font-style: "Regular";
src: url("../fonts/icofont.woff2") format("woff2"),
url("../fonts/icofont.woff") format("woff");
}
 
// @import "variable";
// @import "variable-responsive";
@import "reset";
@import "component/global";
@import "component/login";
@import "component/_list-page";
@import "component/_detail-page";