.DetailPage {
    .title {
        font-size: 25px;
        width: 50%;

    }

    .sub-title {
        font-size: 15px;
        width: 50%;
        margin: 10px 0;
        color: #06b84a;
        font-weight: 600;
        span{
            color: rgb(95, 95, 94);
        }

    }
    .backbtn{
        margin-right: 20px;
        text-transform:capitalize;
    }
    .con-1 {
        display: flex;
       
        .w-20 {
            width: 30%;
           margin-left: 40px;
            .title{
                margin-bottom: 20px;
            }
            .content{
                box-shadow: 0px 10px 20px #0000000D;
                padding: 20px;
                background: #fff;
                width: 100%;
            }

            img {
                width: 100%;
                height: auto;
                background-size: contain;
            }
        }
        .w-80{
            width: 80%; 
            line-height: 25px;
        }
    }
}