

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    overflow-x: hidden;
    background: #f4f4f4;

}

input,
textarea,
select,
button {
    font-family: 'Roboto', sans-serif;
    color: #3A5E67;
}
.elipsis-2-char{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
   
}
#root {
    margin: auto;
     
    width: 100%;
}
.container{
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    margin: auto ;
}

#body-id {
    margin: auto;
    width: 100%;
    display: inline-block;
}

.w-fit {
    width: fit-content !important;
}

.ReactModal__Overlay {
    background-color: rgba($color: #000000, $alpha: 0.8) !important;
    z-index: 999999999999 !important;
}

.container-flex {
    display: flex;
}

.container-standar {
    width: 90%;
    position: relative;
    margin: auto;
}

.section-container {
    text-align: center;
    width: 100%;
    margin: auto;
    display: inline-block;
}

.text-upper {
    text-transform: uppercase;
}

.container-grid {
    max-width: 1240px;

    margin: 0 auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

button {
    box-shadow: none;
    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
}

.align-center {
    align-items: center;
}

.sub-justify-center {
    >div {
        justify-content: center;
    }
}

.dropDown-for {
    position: absolute;
    background: rgba(255, 255, 255, .8);
    // backdrop-filter: blur(5px);
    width: 320px;
    z-index: 1;
    margin-top: 20.99999px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 10px #0000000D;
}

.group-Input {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
}

.notification-container{
    z-index: 1111111111 !important;
}

.flex-33-3 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.flex-16-6 {
    flex: 0 0 16.666%;
    max-width: 16.666%;
}

.w-33-3 {
    width: 33.3333%;
}

ul {
    text-align: left;
}

.inputStyle {
    position: relative;
    display: inline-block;

    Label {
        display: inline-block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    textarea {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        border-radius: 10px;
        font-size: 14px;
        min-height: 100px;
        resize: none;
        border: 1px solid #757575;
        padding: 11px 15px;
        box-sizing: border-box;
        display: inline-block;
        outline: none;

        &:focus {
            border-color: #075bbc !important;
            outline: none !important;
        }
    }

    input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;

        display: inline-block;
        padding: 11px 15px;
        font-size: 14px;
        border: 1px solid #dedede;

        &:focus {
            border-color: #07bcbc !important;

        }
    }
}

.row-float {
    margin: -10px -20px;
    padding: 0 0px;

    @media only screen and (max-width: 1500) {
        margin: -10px -20px;
        padding: 0 10px;
    }
}

.inputStyle-small {
    position: relative;
    display: inline-block;

    &.for-search {
        &:before {
            font-family: 'IcoFont';
            content: '\ed11';
            position: absolute;
            font-size: 18px;
            right: 10px;
            top: 10px;
            color: #333;
        }
    }

    Label {
        display: inline-block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 600;
    }

    input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
        display: inline-block;
        font-size: 14px;
        padding: 11px 10px;
        border: 1px solid #dedede;

        &:hover {
            border-color: #07bcbc;
        }
    }
}

.radio-item {
    display: inline-block;
    position: relative;
    cursor: pointer;

    input[type=radio] {
        display: hidden;
        left: -33px;
        width: 100px;
        margin: auto;
        position: absolute;
        cursor: pointer;
        top: 10px;
    }

    label {
        color: #dedede;
        cursor: pointer;
        font-weight: 400 !important;
    }

    label:before {
        content: " ";
        display: inline-block;
        position: relative;
        top: 6px;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        border: 2px solid #dedede;
        background-color: #ffffff;
    }

    input[type=radio]:checked+label:after {
        width: 14px;
        height: 14px;
        border-radius: 100px;
        position: absolute;
        top: 10.5px;
        left: 5px;
        content: " ";
        display: block;
        background: #07bcbc;
    }

    input[type=radio]:checked+label:before {
        border: 2px solid #07bcbc !important;
    }

    input[type=radio]:checked+label {
        color: #07bcbc !important;
    }

    &:hover {
        label {
            color: #07bcbc !important;

            &:before {
                border: 2px solid #07bcbc !important;
            }

            &:after {
                background: #07bcbc !important;
            }
        }
    }
}
.floating-for-landing{
    position: fixed;
    bottom: 0px;
    width: auto;
    padding: 10px 20px 10px 20px;
    background: #ffffff;
    border-top-right-radius: 10px;
    box-shadow: 0px -3px 10px #0000000D;
    z-index: 11;
}
.container-normal {
    width: 80%;
    position: relative;
    display: flex;
    margin: auto;
}

.btn-favorite {
    width: 37px;
    height: 37px;
    background: transparent;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid '#dedede';
    box-sizing: border-box;

    i {
        font-size: 18px;
        color: '#dedede';
        transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
    }

    &:hover {
        border: 1px solid #ff0909 !important;

        i {
            color: #ff0909  !important;
        }
    }

    &.is-on {
        background: #ff0909 ;
        border: 1px solid #ff0909  !important;

        i {
            color: #ffffff !important;
        }

        &:hover {
            background: '#dedede';
            border: 1px solid '#dedede' !important;
        }
    }


}

.btn-danger {
    padding: 10px 20px;
    background: #ff0909 ;
    color: #ffffff;
    border: 2px solid #ff0909 ;
    text-align: center;
    display: block;
    font-weight: 600;

    &:hover {
        background: #ffffff;
        color: #ff0909 ;

    }
}

.btn-primary-grad {
    padding: 10px 20px;
    background: #07bcbc-grad;
    color: #ffffff;
    //    border: 2px solid #07bcbc;
    text-align: center;
    display: block;
    font-weight: 600;

    &:hover {
        svg.for-line {
            g {
                path {
                    fill: #07bcbc;
                }
            }
        }
    }
    

    svg.for-line {
        position: absolute;
        top: 8px;
        margin-left: 5px;
    }
}

.btn-primary-grad[disabled] {
    opacity: .5;
    &:hover {
        svg.for-line {
            g {
                path {
                    fill: #ffffff;
                }
            }
        }
    }
}

.share-center {
    .sosmed {
        display: flex;
        justify-content: center;
    }
}

a.btn-primary-dis-grey {
    background: #07bcbc-grad;
    color: #ffffff;
    border: 2px solid #07bcbc;
    text-align: center;
    display: block;
    font-weight: 600;

    &:hover {
        background: #ffffff;
        color: #07bcbc;
    }
}

button.btn-primary-dis-grey {
    background: #07bcbc-grad;
    color: #ffffff;
    border: 2px solid #07bcbc;
    text-align: center;
    display: block;
    font-weight: 600;

    &:hover {
        background: #ffffff;
        color: #07bcbc;
    }
}

.last-border {
    div {
        &:nth-last-child(1) {
            padding-bottom: 20px !important;
            border-bottom: 1px solid rgba(147, 170, 177, .5);
        }
    }
}

.btn-primary-dis-grey[disabled] {
    background: #93AAB1 !important;
    color: #ffffff;
    border: 2px solid #93AAB1 !important;
    pointer-events: none;
    opacity: .5;
}

.btn-white {
    background-color: #ff7301;
    color: #ff7301;
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #ffffff;

    i {
        font-size: 24px;
        position: relative;
        top: 2px;
    }

    &:hover {
        background: transparent;
        color: #ffffff;
    }

}

.container-for-flex {
    width: 100%;

    @media only screen and (max-width: 1024) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.object-fit {
    object-fit: cover;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.elipsis-no-d {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary {
    width: 80%;
    background: #07bcbc-grad;
    color: #ffffff;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    //    border: 2px solid #07bcbc;
    justify-items: center;

    .for-point {
        border-left: 2px solid #ffffff;

        .spanSVG {
            position: relative;
            padding-left: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 15px;

            svg {
                position: absolute;
                left: 10px;
                width: 17px !important;
                height: 17px !important;
            }
        }
    }

    &:hover {
        //        background: transparent;
        //        color: #07bcbc;

        .for-point {
            border-left: 2px solid #07bcbc;

            svg {
                g {
                    path {
                        fill: #07bcbc;
                    }
                }

            }
        }
    }
}

.btn-dark {
    width: 80%;
    background: #464646;
    color: #ffffff;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid #464646;
    justify-items: center;

    .for-point {
        border-left: 2px solid #ffffff;

        .spanSVG {
            position: relative;
            padding-left: 40px;
            padding-top: 8px;
            padding-right: 15px;

            svg {
                position: absolute;
                left: 10px;
                top: 8px;
                width: 17px !important;
                height: 17px !important;
            }
        }
    }

    &:hover {
        background: transparent;
        color: #464646;

        .for-point {
            border-left: 2px solid #464646;

            svg {
                g {
                    path {
                        fill: #464646;
                    }
                }

            }
        }
    }
}

.cursor-default {
    cursor: default !important;
}
.for-circle-numb{
    width: 28px;
    height: 28px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 2; 

}

.location-thumb {
    width: 100%;
    text-align: left;
    float: left;
    // cursor: pointer;
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dedede;
       
        &.closed{
            background: rgba(206, 212, 218, .5);
            .status{
            
                position: absolute;
                left: 65px;
                font-size: 12px;
                color: #697C81;
                bottom: 7px;
                strong{
                    color: #ff0909 ;
                }
            
            }
        }
        &.open{
            background: #ffffff;
            .status{
            
                position: absolute;
                left: 65px;
                font-size: 12px; 
                color: #698169;
                bottom: 7px;
                strong{
                    color: #039403;
                }
            
            }
        }
     
}
.component-slider{
    &.slider-tentang{ 
      text-align: center;
        display: block;
    
        img{
            width: 75%;
            margin: auto;
        }
       
    }
    &.slider-asosiate{
        text-align: center;
        display: block;
        img{
            width: 75%;
            margin: auto;
        }
    }
}
.video-play{
    box-shadow: 0px 5px 10px #0000000D;
    position: relative;
    border: 1px solid #93AAB1;
    border-radius: 10px;
    overflow: hidden;
   
}
.markering-grid{
    overflow: hidden;
     
}
 
.location-thumb-small {
    margin-left: 0px;
    max-width: 271px;
    float: left;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dedede;

    &:hover {
        color: #07bcbc;
        background: #07bcbc-light;
    }

    svg {
        width: 70%;
        top: 15px;
        left: 3px;
        position: relative;
    }
}

.circle-photo {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 100px;
}

.for-line-pas {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 1px solid #dedede;
    }
}

.for-line {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 95%;
        border-left: 1px solid #dedede;
    }
}

.btn-primary-num {

    background: #07bcbc;
    color: #ffffff;
    border: 1px solid #07bcbc;

    &:hover {
        background: transparent;
        color: #07bcbc;
    }
}

.btn-secondary {
    width: 80%;
    background: #07bcbcbc;
    color: #ffffff;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid #07bcbcbc;
    justify-items: center;

    &:hover {
        background: transparent;
        color: #07bcbcbc;
    }
}

.btn-disabled {
    background: #dedede;
    color: #ffffff;
    border: 1px solid #dedede;

    &:hover {
        background: #ffffff !important;
        color: #dedede;
    }
}

.disabled-btn {
    background: #dedede;
    border: 2px solid #dedede;

    &:hover {
        color: #ffffff;
        border: 2px solid #dedede;

        .for-point {
            border-left: 2px solid #ffffff;

            svg {
                g {
                    path {
                        fill: #ffffff;
                    }
                }

            }
        }
    }

}


.d-inline-table {
    display: inline-table;
}

.transforn-center {
    transform: translate(0, -50%);
}

a:hover {
    background-color: none !important;
}

a.text-primary:hover {
    color: #07bcbc !important;
}

.overflow-x-auto {
    overflow-x: auto;
}

a:focus {
    box-shadow: none !important;
    outline: none !important;
}

div:focus {
    box-shadow: none !important;
    outline: none !important;
}

.news-bot-grad {
    height: 60px;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: rgba(255, 255, 255, 0);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);

    }
}

.input-same-select {
    display: inline-block;
    width: 100%;
    border: 1px solid #bdbfc2;
    padding: 6px 5px;
    border-radius: 3px;
    box-sizing: border-box;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.tr-all {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.divider {
    width: 100%;
    height: 20px;
    background: #07bcbc;
    position: absolute;
    left: 0;
    right: 0;
}

.divider-grey,
.divider-grey-dark {
    width: 100%;
    height: 1px;
    background: #dedede;
    position: absolute;
    left: 0;
    right: 0;
}

.divider-grey-dark {
    background: #dedede;
}

.ln-1-2 {
    line-height: 1.5 !important;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ced4da;
}

a.bg-primary:hover,
a.bg-primary:focus {
    outline: none !important;
    box-shadow: none !important;
    background: #07bcbc !important;
}

div {
    &:focus {
        box-shadow: none !important;
    }
}

a.text-primary:hover,
a.text-primary:focus {
    color: #07bcbc !important;
}

.shadow-n {
    box-shadow: 0px 10px 20px #0000000D;
}

@media only screen and (max-width: 768px) {
    .header-sub {
        height: 200px;
    }

    .container-standar {
        width: 90%;
        margin: auto;
        padding: 0px !important;
    }

    .ul-footer {
        width: 50%;

        li {
            width: 100%;
        }
    }

    .bottom-navigation {
        padding: 10px 0px;
    }

    .width-14 {
        width: 100%;
    }
}

div:focus {
    box-shadow: none !important;
    outline: none !important;
}

.for-datepicker {
    .react-datepicker-wrapper {
        width: 100%;

        .react-datepicker__input-container {
            &:before {
                font-family: 'IcoFont';
                content: '\eecd';
                position: absolute;
                right: 10px;
                top: 8px;
                font-size: 20px;
                color: #dedede;
            }
        }
    }
}

// for loading 

.loading {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.loading.on-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: auto;
}

.loading.on-page svg {
    display: block;
    margin: 0 -20px 10px -20px;
}

.loading>span {
    display: block;
    color: #697C81;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 0 0 10px 0;
}

.loading>div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    margin: 0 1px;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-small {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loading-small.but {
    width: auto;
}

.loading-small.but.red,
.loading-small.but.white {
    width: 35px;
}

.loading-small>div {
    width: 0px;
    height: 10px;
    background-color: #333;
    border-radius: 100%;
    margin: 0 1px;
    display: inline-block;
    -webkit-animation: sm-bouncedelay 1.4s infinite ease-in-out both;
    animation: sm-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-small.but>div,
.loading-small.but.white>div {
    width: 17.5px;
    height: 17.5px;
    background-color: #FFF !important;
}

.loading-small.but.red>div {
    background-color: #ff0909  !important;
}

.loading .bounce1,
.loading-small .bounce1 {
    background: #0798BC;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading .bounce2,
.loading-small .bounce2 {
    background: #07aabc;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loading .bounce3,
.loading-small .bounce3 {
    background: #07BCBC;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-webkit-keyframes sm-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(0.5)
    }
}

@keyframes sm-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

.transition-opacity {
    opacity: 1;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// loading end
// transition global
a.transition-bounce {
    display: inline-flex;
    padding: 0 3px;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;

    &:hover {
        padding: 0 3px;

        transform: scale(1.05, 1.05);
    }
}

.transition-bounce {
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;

    &:hover {
        transform: scale(1.1, 1.1);
    }
}

.transition-bounce-not-flex {
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;

    &:hover {
        transform: scale(1.1, 1.1);
    }
}

.transition-bounce-wp {
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;

    &:hover {
        transform: scale(1.1, 1.1);
        padding-bottom: 5px;
    }
}

.text-underline {
    text-decoration: underline;
}

.overlay {
    display: none;

    &.active {
        display: inline-block;
        height: 100%;
        width: 100%;
        z-index: 11111;
        position: fixed;
        background: rgba(58, 94, 103, 0.6) 0% 0% no-repeat padding-box;
        opacity: 1;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}

.detail-event {
    ._head {
        width: 100%;
        height: 315px;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 315px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 315px;
            background: rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(10px);
            z-index: 1;
        }
    }
 
}

.forHead {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0798bc+0,07bcbc+100 */
    background: #0798bc;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0798bc 0%, #07bcbc 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0798bc 0%, #07bcbc 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0798bc 0%, #07bcbc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0798bc', endColorstr='#07bcbc', GradientType=1);

    /* IE6-9 fallback on horizontal gradient */
    section._forhead {
        margin: 0 auto;
        padding: 35px 0px 35px 0px;
        box-sizing: border-box;
        color: #3A5E67;
        font-size: 12px;
        line-height: 12px;
    }
}

.divider-spacing {
    width: 100%;
    display: inline-block;
    height: 1px;
    background: #93AAB1;
}

.geolocation-button {
    display: inline-block;
    text-align: left;

    ._for-input {
        display: flex;
        max-width: 500px;
        position: relative;
        width: 500px;
        justify-items: center;
        overflow: hidden;
        height: 50px;
        border-radius: 15px;
        border: 1px solid #93AAB1;
        z-index: 0;

        input {
            border: none; 
            border-radius: 15px;
            max-width: 412px;
            width: 412px;
            height: auto;
            font-size: 16px;
            padding: 10px 90px 10px 10px;
            color: #3A5E67;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #3A5E67;
                opacity: 0.5;
                /* Firefox */
            }
        }

        a {
            position: absolute;
            display: block;
            right: 0;
            max-width: 88px;
            width: 89px;
            height: 51px;
            z-index: 1;
            background: #07bcbc-grad;
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
            margin: auto;
            text-align: center;

            span {
                text-align: center;
                display: block;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                transform: translate(0, 40%);

                svg {
                    position: relative;
                    top: 5px;
                    left: 2px;
                }
            }

        }
    }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .safari_only { 

        margin-top: 40px!important;

    }
}}
.filter-for-product{
    display: inline-block;
    width: 27%;
    padding-left: 10px;
    .css-1pahdxg-control{
        border:1px solid #93AAB1 !important;
        box-shadow: none!important;
        min-height: 41px;
        border-radius: 10px;
    }
    .css-1pahdxg-control:hover{
        border:1px solid #93AAB1 !important;
    }
    
    .css-yk16xz-control{
        min-height: 41px;
        border: 1px solid #93AAB1 !important;
        border-radius: 10px;
        &:focus{
            outline: none;
            border:1px solid #93AAB1 !important;
            
        }
    }
}
.product-comment-toko{
    position: relative;
    margin-right: 10px;
    border-bottom: 1px solid rgba($color: #93AAB1, $alpha: 0.5);
    .for-product-toko-thumb{
        position: absolute;
        width: 190px;
        right: 0;
        top: 0;
        div{
            zoom: .8;
        }
    }
}
.affliate-content {
    display: block;
    margin: auto;
    max-width: 956px;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.12);

    .list-affiliate {

        &:nth-child(even) {
            background: #F2F2F2;
        }

        &:nth-child(1) {
            img {
                border: 3px solid #FC9B17;
            }
        }

        &:nth-child(2) {
            img {
                border: 3px solid #93AAB1;
            }
        }

        &:nth-child(3) {
            img {
                border: 3px solid #3A5E67;
            }
        }

        img {
            border: 3px solid #3A5E67;
        }

        .progress-top {
            .progress-div {
                height: 12px;

                .progress {
                    height: 12px;
                    background: #07bcbc-grad;
                }
            }
        }
    }

}

.slick-landing {
    border-bottom: 0px solid transparent !important;

    .slick-dots {
        margin: auto;
        text-align: center !important;
    }
}

.sec_1 {
    ._sec-img {
        position: absolute;
        right: 0px;
        top: -40px;
    }
}

.sec_2 {
    max-width: 934px;
    width: 934px;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;

    &:before {
        content: "";
        width: 670px;
        height: 280px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 0;
        text-align: center;
        transform: translate(-20px, 10%);
        border-top: 5px dashed #ff7301;
        border-left: 5px dashed #ff7301;
        border-right: 5px dashed #ff7301;
    }

    .title {
        z-index: 1;
        position: relative;

    }

    ._pad-line {
        padding-top: 160px;
        position: relative;
        z-index: 1;

    }
    .object-contain{
        object-fit: contain;
    }

    .for-item {
        position: relative;

        ._item-img {
            position: absolute;
            background: #ffffff;
            width: 95px;
            display: block;
            height: 95px;
            border: 8px solid #ff7301;
            top: -80px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            border-radius: 100px;

            svg {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                transform: translate(0, 40%);
            }
        }
    }
}

.sec_3 {
    width: 100%;
    display: block; 
    position: relative;
    .for-img {
        width: 100%;
        height: 412px;
        position: relative;
        img {
            width: 100%;
            height: 412px;
            object-fit: cover;
            // filter: blur(10px);
            position: relative;
            z-index: 0;
        }
        .for-play{
            position: absolute;
            left: 0;
           
            right: 0;
            margin: auto; 
            text-align: center;
            transform: translate(0, 150%);
            z-index: 11;
        }
        .logo-af{
            position: absolute;
            left: 0;
          
            right: 0;
            margin: auto;
            width: fit-content;
            text-align: center;
            transform: translate(0, 60%);
            z-index: 11;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            height: 412px;
            background: rgba(0, 0, 0, 0.65);
            z-index: 1;
         }
    }
}
.tab_slide{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 20px 0px;
    box-sizing: border-box;
    ul{
        margin: 0;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        position: relative; 
        z-index: 0; 
        li{
            float: left;
            display: block;
            text-align: center;
            color: #3a5e67;
            margin: 0 auto;
            border-bottom: 1px solid #999999;
            padding-bottom: 10px;
            cursor: pointer;
            width: 50%;
            
            &.active{
                color: #07bcbc;
                position: relative;
               
                border-bottom: 2px solid #07bcbc;
            }

        }
    }

}
.promo-slider-all{
    margin-top: 40px;
    ul{
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        li{
            font-size: 16px;
            cursor: pointer;
            width: 15%; 
         
            margin: 10px;
            text-align: center;
         
            span{
                text-align: center;
                padding: 10px; 
                font-weight: 500;
                color: rgba(153, 153, 153, .8);
            }
            button{
                font-size: 16px;
                border: 2px solid rgba(153, 153, 153, .8);
                text-align: center;
                border-radius: 5px;
                padding: 10px; 
                font-weight: 500;
                width: 100%;
                margin: auto;
                color: rgba(153, 153, 153, .8);
                &:hover{
                    border: 2px solid #07bcbc;
                    background: rgba(7, 152, 188, .1);
                    color: rgba(153, 153, 153, .8);
                }
                &.active{
                    border: 2px solid #07bcbc;
                    background: #07bcbc-grad;
                   color: #ffffff;
                   &:hover{
                    border: 2px solid #07bcbc;
                    background: #07bcbc-grad;
                   color: #ffffff;
                    }
                }
              
            }
            
          
        }
    }
}
.for-date-dashboard{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
}
.for-date-dashboard-1{
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
}
.pad-img-for-this{
    .container-img {
        padding: 35%;
        overflow: hidden;
        display: block!important;
        position: relative;
        img{
            width: 100%!important;
            height:auto!important;
             
            position: absolute;
            left: 0;
            top: 0;

        }
    }
}
.shadow-light{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
}

.sec_4{
    .item-sec{
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0px;
            bottom: 0;
            width: 6px;
            background: #ff7301-grad;
            height: 150px;
        }
        svg{
            position: absolute;
            right: 13px;
            top: 20px;
        }
    }
}

.blog-content{
    color: #07bcbcbc;
    font-size: 16px;
    line-height: 20px;
    
    p{
        margin: 20px 0;
    }
    
    ul,
    ol{
        padding: 0 0 0 20px;
        margin: -5px 0 -2.5px 0;
        
        li{
            padding: 2.5px 0;
        }
    }
    
    ul{
        list-style: disc;
    }
    
    ol{
        list-style: decimal;
    }
    
    blockquote{
        padding: 0 0 0 20px;
        border-left: 4px solid #ccc;
    }
    
    h3{
        font-size: 18px;
        line-height: 22px;
    }
    
    a{
        color: #07bcbc-dark;
        font-weight: 600;
        transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -webkit-transition: all 200ms ease-in-out;
    
        &:hover{
            color: #07bcbc;
        }
    }
}
.react-modal-for-large{
    width: 40%;
    position: absolute;
    background: #ffffff;
    transform: translate(70%,15%);
}
.sosmed-landing{
    .sosmed{
        margin: auto;
        text-align: center;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}
.location-slide{
    display: none;
    transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    &.active{
        display: inline-block;
    }
}
.for-loop-sub{
    text-align: left;
}