.list-page{
    .container-form{
        display: flex;
        .group-input{
            width: 20%;
            margin: 20px 20px 0px 20px;
            input{
                width: 100%;
                padding: 10px;
                font-size: 16px;
            }
        }
    }
    h2{
        font-size: 30px;
    }
    ul{
        li.card-list{
            
            border: 1px solid #dedede;
            background: #fff;
            display: inline-block;
            margin: 20px 0px 5px 0px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 10px 20px #0000000D;
            box-sizing: border-box;
            cursor: pointer;
            img{
                width: 100px;
                float: left; 
                height: 100px;
                margin-right: 10px;
            }
            .content-1{
                padding: 10px;
               
                width: 50%;
                float: left;
                box-sizing: border-box;
                 .title{
                    color: #e77000;
                    margin-bottom: 5px;
                 }
                 .sub-title{
                    color: #868686;
                    margin-bottom: 5px;
                    font-size: 12px;
                 }
                 .type{
                    color: #fff;
                    display: inline-block;
                    background: #e77000;
                    padding: 5px 10px;
                    font-size: 14px;
                    border-radius: 5px;
                 }
            }
            .content-2{
                float: right;
                padding: 20px;
                box-sizing: border-box;
                .location{
                    font-size: 14px;
                    color: #fff;
                    background: #018a23;
                    font-weight: 600;
                    padding: 5px 10px;
                    border-radius: 5px;
                    margin-bottom: 2px;
                    text-align: center;
                    
                }
                .day{
                    display:  block;
                    font-size: 12px;
                    margin-top: 10px;
                    text-align: right;
                }
            }
        }
    }
}