.for-Login {
    display: flex;
    width: 20%;
    text-align: center;
    height: 480px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #0000000D;
    bottom: 0;
    top: 0;

    h4 {
        font-size: 22px;
        color: #383838c4;
        margin-bottom: 40px;
    }

    .btn-login {
        background: #0b58b1;
        color: #fff;
        padding: 20px 40px;
        cursor: pointer;
        text-align: center;

        font-weight: bold;
        border-radius: 5px;
        a{
            color: #fff;
        }

    }
}
.header-login{
    display: flex; 
    padding: 20px 40px;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px #0000000D;
    .btn-logout{
        border: 1px solid #6d6d6d;
        padding: 10px 40px;
        box-shadow: 0px 10px 20px #0000000D;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }
    .profile{
        display: flex;
        align-items: center;
        
        margin-left: 20px;
        h2{
            margin-right: 20px;
            font-size: 16px;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 100px;
        }
    }
}